@model MVCLaManuAgendaCourtage.Models.Appointments

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAppointment" />
            <div class="form-group">
                <label asp-for="DateHour" class="control-label"></label>
                <input asp-for="DateHour" class="form-control" />
                <span asp-validation-for="DateHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBroker" class="control-label"></label>
                <select asp-for="IdBroker" class="form-control" asp-items="ViewBag.IdBroker"></select>
                <span asp-validation-for="IdBroker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <select asp-for="IdCustomer" class="form-control" asp-items="ViewBag.IdCustomer"></select>
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
